<html>
<head>
  <title>HEY THERE</title>
<link rel="stylesheet" type="text/css" href="assets/css/page.css">
</head>
<body>
  <div id="container">
<h1>USER IMAGES</h1>
<div id="images">
  <form method="POST" action="/mod">
  <% for(var i=0; i<data.length; i++) { %>
<div id="image">
    <a href="<%=data[i].imgRaw%>">
      <img src="<%=data[i].imgRaw%>" width="<%=Math.floor(data[i].width/2)%>" height="<%=Math.floor(data[i].height/2)%>"
    name="<%=data[i].imgSrc%>" alt="pretty image"></a>
    <span id="controls"><button value="<%=data[i].imgSrc%>" name="EDIT" onclick="submit()">EDIT</button>
    <button value="<%=data[i].imgSrc%>" name="DELETE" onclick="submit()">DELETE</button></span>
</div>
<% } %>
</form>
</div>
</div>
</body>
</html>
